[Unit]
Description=PixooTop Client
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=<PATH TO pixootop-client BINARY>
Environment="RUST_LOG=debug"

[Install]
WantedBy=default.target
