[Unit]
Description=PixooTop Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=<PATH TO pixootop-server BINARY>
Environment="RUST_LOG=debug"

[Install]
WantedBy=multi-user.target
